h1 {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

a.add-user {
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.user-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.edit {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}