{% extends "base.html" %}
{% block title %} - Edit {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
<h1>Edit {{ user.first_name }} {{ user.last_name }}</h1>
<form method="POST">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
    <label for="image_url">Image URL</label>
    <input type="url" id="image_url" name="image_url" value="{{ user.image_url }}">
    <button type="submit">Save</button>
</form>

<a href="{{ url_for('user_detail', user_id=user.id) }}" class="cancel-button">Cancel</a>
{% endblock %}