{% extends "base.html" %}
{% block title %} {% endblock %}

{% block content %}
<h1>Tag: {{ tag.name }}</h1>
    <h2>Posts with this tag:</h2>
    <ul>
        {% for post in tag.posts %}
        <li><a href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='{{ url_for('edit_tag', tag_id=tag.id) }}'" class="new-post-btn">Edit</button>
    <button class="new-post-btn" onclick="window.history.back();">Cancel</button>
    <form method="POST" action="{{ url_for('delete_tag', tag_id=tag.id) }}">
        <button type="submit" class="new-post-btn">Delete Tag</button>
        
    </form>
{% endblock %}